* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 481px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5f2eea;
  height: 12vh;
}

.header {
  margin: 0 2em;
}
.header .header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 34.375px;
  line-height: 55px;
  color: #5f2eea;
}

.nav {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav .nav__burger {
  width: 28px;
  height: 4px;
  background-color: #5f2eea;
  border-radius: 50px;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  gap: 20px;
  margin-block-start: 72px;
  margin-block-end: 52px;
}
.options .options__inputContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.options .options__inputContainer .options__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #000000;
}
.options .options__inputContainer .options__input {
  min-width: 421px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #14142b;
  background: #f7f7fc;
  border: 2px solid #14142b;
  border-radius: 16px;
}
.options .options__button {
  width: 421px;
  height: 55px;
  background-color: #ed2e7e;
  border: none;
  border-radius: 40px;
  letter-spacing: 0.75px;
  color: #f7f7fc;
}

.search {
  display: flex;
  justify-content: center;
}
.search .search__container {
  margin-block-start: 43px;
  margin-block-end: 48px;
  min-width: 420px;
  height: 614px;
  border: 1px solid black;
  background: #2a00a2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.search .search__container .search__title {
  height: 38px;
  width: 90px;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #bca4ff;
  margin: 30px 290px 27px 40px;
}
.search .search__container .search__div {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.search .search__container .search__div .search__label {
  margin: 13px 0 0 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f3efff;
}
.search .search__container .search__div .search__input {
  height: 59px;
  width: 352px;
  left: 0px;
  top: 0px;
  border-radius: 15px;
  background: #eff0f7;
  border-radius: 15px;
  margin: 0 auto;
}
.search .search__container .search__button {
  height: 64px;
  width: 347px;
  background: #ed2e7e;
  border-radius: 40px;
  margin: 27px auto 0 auto;
  border: none;
  color: #f7f7fc;
}

.properties {
  margin-inline-start: 30px;
}
.properties .properties__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #000000;
  margin-block-end: 34px;
}
.properties .properties__article .properties__image {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.properties .properties__article .properties__title {
  margin-block-end: 0px;
  color: #5f2eea;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}
.properties .properties__article .properties__paragraph {
  font-weight: 300;
  font-size: 12px;
}
.properties .properties__article .properties__button {
  margin-block-start: 20px;
  margin-block-end: 81px;
  height: 40px;
  width: 172px;
  left: 0px;
  top: 0px;
  border-radius: 40px;
  border: 0.5px solid #5f2eea;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #5f2eea;
}

@media screen and (min-width: 980px) {
  .options {
    margin-inline-start: 125px;
    margin-inline-end: 110px;
  }
  .options .options__inputContainer {
    flex-direction: row;
  }
  .options .options__inputContainer .options__input {
    min-width: auto;
    flex-grow: 0.5;
  }
  .options .options__inputContainer .options__input:nth-of-type(1) {
    flex-grow: 2;
  }
  .options .options__button {
    height: 55px;
    width: 140.3999938965px;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .main .search {
    width: auto;
  }
  .main .properties {
    width: auto;
  }
}

/*# sourceMappingURL=sass.css.map */
